@page "/deomo-component-param"

<div>
    <h3>truyền dữ liệu thông qua component</h3>
    
    @* gọi component *@
    @* <ChildComponent/>  *@

    <ChildComponent>

        Hello đây là nội dung truyền vào từ component cha
    </ChildComponent>
</div>