@page "/demo-component-param"

<div>
    <h3>Truyền dữ liệu thông qua component</h3>

    <ChildComponent>
        <h3>Đây là nội dung HTML được truyền từ component cha vào component con</h3>    
    </ChildComponent>
    
</div>