@inject CartService _cartService
@implements IDisposable


@inherits LayoutComponentBase

<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white" style="
    background-color: $ {
    3: #e3f2fd;
    }
    ">

    <a class="navbar-brand" href="/">Cybersoft Store</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="/register" aria-current="page">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Lifecycle</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/parent">Should component render</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">State management</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/state-management">state-management</a>
                    <a class="dropdown-item" href="/bt-giohang">Bài tập giỏ hàng</a>
                    <a class="dropdown-item" href="/bt-burger">Bài tập burger</a>
                    <a class="dropdown-item" href="/crud-store">CRUD </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">SignalR</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/demo-signalr-roomhub">Demo room hub</a>

                </div>
            </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
            <a href="/bt-giohang" class="btn btn-dark">
                @{
                    int soLuong = _cartService.lstProd.Sum(item => item.quantity);
                    string tongTien = _cartService.lstProd.Sum(item => item.quantity * item.price).ToString("N0");
                }

                <i class="fa fa-cart-plus"></i> ( @soLuong - @tongTien $)
            </a>
        </form>
    </div>
</nav>


<div class="content">
    @Body
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        _cartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _cartService.OnChange -= StateHasChanged;

    }
}