@*code button theo style của dự án*@
@*Công dụng : tái sử dụng*@

@*Nếu có gắn page --> route
Nhưng vẫn có thể dùng component này ở nhiều trang khác nhau mà không bị ảnh hưởng gì*
Và nếu là route thì vẫn có thể gọi trang localhost:xxxx/button

*@

<button class="btn btn-primary">Button của dự án</button>