
<div class="col-4">
    <div class="card text-start">
        <img class="card-img-top" src="@sp.HinhAnh" alt="@sp.TenSp" />
        <div class="card-body">
            <h4 class="card-title">@sp.TenSp</h4>
            <p class="card-text">@sp.GiaBan</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button type="button"
    class="btn btn-primary btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#modalId" @onclick="XemChiTietClick">Xem chi tiet</button>
            <button class="btn btn-primary" @onclick="AddToCartClick">Them gio hang</button>
        </div>

    </div>
    

@* button them gioHang *@
</div>


@code{
    [Parameter]
    public PhoneCartVM sp { get; set; }

    [Parameter]
    public EventCallback<PhoneCartVM> AddToCart { get; set; }

    void AddToCartClick()
    {
        AddToCart.InvokeAsync(sp);
    }

    [Parameter]
    public EventCallback<PhoneCartVM> ViewDetails { get; set; }
    void XemChiTietClick()
    {
        ViewDetails.InvokeAsync(sp);
    }
}